//Font Family
$light_font-family:'Raleway',
sans-serif;
$regular_font-family:'Raleway',
sans-serif;
$medium_font-family:'Raleway',
sans-serif;
$semi-bold_font-family:'Raleway',
sans-serif;
$bold_font-family:'Raleway',
sans-serif;
$black_font-family:'Raleway',
sans-serif;

//Font Weight
$light_font-weight: 300;
$regular_font-weight: 400;
$medium_font-weight: 500;
$semi-bold_font-weight: 600;
$bold_font-weight: 700;
$black_font-weight: 800;

// Secondary Font Family
$regular_font-family-sec:'Baubodti',
sans-serif;

// Secondary Font Weight
$regular_font-eight-sec:inherit;